{% extends 'base.html.twig' %}

{% block title %}Log in!{% endblock %}

{% block body %}
<header class='fixed top-0 w-screen h-20 bg-blue-700 flex items-center justify-between px-2 sm:px-14 z-30 shadow-lg'>
    <div class='h1 text-lg font-bold'>Locastic Blog API</div>

    {% if app.user %}
        <div class="">
            You are logged in as {{ app.user.username }}, <a href="{{ path('app_logout') }}">Logout</a>
        </div>
    {% endif %}
</header>

<div class='mt-24 border-gray-300 p-2 mx-auto max-w-sm rounded-xl shadow-lg flex items-center justify-center'>
    <form method="post">
        {% if error %}
            <div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
        {% endif %}

        
        <h3 class="h3 mb-5 text-center text-xl font-bold">Please sign in</h3>
        <div class='m-10'>
            <label class='text-lg font-semibold' for="inputEmail">Email</label>
            <input type="email" value="{{ last_username }}" name="email" id="inputEmail" class="form-control p-2 w-full rounded-sm border" autocomplete="email" required autofocus>
        </div>

        <div class='m-10'>
            <label class='text-lg font-semibold' for="inputPassword">Password</label>
            <input type="password" name="password" id="inputPassword" class="form-control p-2 w-full rounded-sm border" autocomplete="current-password" required>
        </div>

        <div>
            <input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}">
        <div>
        
        {#
            Uncomment this section and add a remember_me option below your firewall to activate remember me functionality.
            See https://symfony.com/doc/current/security/remember_me.html

            <div class="checkbox mb-3">
                <label>
                    <input type="checkbox" name="_remember_me"> Remember me
                </label>
            </div>
        #}

        <div class='m-10'>
            <button class="p-2 w-full rounded-sm block bg-blue-700 border" type="submit">
                Sign in
            </button>
        </div>
    </form>
</div>
{% endblock %}
