{% extends 'base.html.twig' %}

{% block title %}Hello HomeController!{% endblock %}

{% block body %}

<header class='w-screen h-20 bg-blue-700 flex items-center justify-between px-2 sm:px-14 z-30 shadow-lg'>
    <div class='h1 text-2xl text-white font-bold'>
        <a href='{{ path('home') }}'>Locastic Blog API</a>
    </div>

    <div class="mb-1 text-lg flex items-center justify-between space-x-5">
        {% if app.user %}
            <a class='text-white' href="{{ path('get_requests') }}">Admin</a>
            <a class='text-white' href="{{ path('dashboard') }}">Dashboard</a>
            <a class='text-white' href="{{ path('posts') }}">Blog</a>
            <a class='text-white' href="{{ path('app_logout') }}">Logout</a>
        {% else %}
            <a class='text-white' href="{{ path('app_login') }}">Login</a>
            <a class='text-blue-700 py-2 px-3 bg-white rounded' href="{{ path('app_register') }}">Register</a>
        {% endif %}
    </div>
</header>

<div class="p-10 border-gray-300 mx-auto max-w-xl rounded-xl shadow-lg">
    {% if is_granted('IS_AUTHENTICATED_FULLY') %}
        <h2 class='h2 text-4xl font-bold text-center'>Hello {{ firstname }} {{ lastname }}! ✅</h1>
    {% else %}
        <h2 class='h2 text-4xl font-bold text-center'>Hello {{ guest }}! ✅</h1>
    {% endif %}

    <p class='text-lg text-center mb-3'>You're welcome! ✅</p>

    <h3 class='text-lg mb-5'>This friendly message is coming from Locastic Blog API: ✅</h3>
    
    <ul class='space-y-6 text-lg font-semibold'>
        {% if is_granted('IS_AUTHENTICATED_FULLY') %}
            <li>Go to your <a class='text-amber-600' href="{{ path('dashboard') }}">dashboard page</a> to see our blog posts</li>
        {% else %}
            <li><a class='text-blue-700' href="{{ path('app_register') }}">Register</a> or <a class='text-blue-700' href="{{ path('app_login') }}">Login</a> to see our blog posts</li>
        {% endif %}

        {% if is_granted('ROLE_BLOGGER') %}
        {% else %}
            <li>Then request a verification to attain a bloger role</li>
            <li>As soon as our admin approves your request</li>
        {% endif %}
        <li>you can create read, update and delete your own posts</li>
    </ul>
</div>
{% endblock %}
