{% extends 'base.html.twig' %}

{% block title %}Hello VRequestController!{% endblock %}

{% block body %}
<style>
    .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
    .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
</style>

<div class="example-wrapper">
    {% if app.user %}
        <div class="mb-3">
            You are logged in as {{ app.user.username }}, <a href="{{ path('app_logout') }}">Logout</a>
        </div>
    {% else %}
        <div class="mb-3">
            <a href="{{ path('app_register') }}">Register</a> | <a href="{{ path('app_login') }}">Login</a>
        </div>
    {% endif %}

    <h1>Hello {{ firstname }} {{ lastname }}! ✅</h1>

    <p>This friendly message is coming from Locastic Blog API ✅:</p>
    <p>You are the admin here. Your roles are isted below.</p>
    <ul>
        <li>send mail ✅</li>
        <li>see user requests ✅</li>
        <li>act on user requests ✅</li>
    </ul>
    <p>List of verification requests:</p>

    <ul>
        {#% if(filter = 'filter_user') %#}

        {#% elseif(filter = 'filter_status') %#}

        {#% elseif(filter = 'order_date') %#}

        {#% else %#}

        {#% endif %#}

        {% for request in data %}
            <li>
                <b>{{ request.firstname }} {{ request.lastname }}</b>
                {% if(request.status == "Verification requested") %}
                    <a href='{{ path('respond', {id: request.id}) }}'>Respond</a>
                {% elseif(request.status == "Approved") %}
                    <a href='{{ path('revoke', {id: request.id}) }}'>Revoke</a>
                {% elseif(request.status == "Denied") %}
                    <a href='{{ path('respond', {id: request.id}) }}'>Reconsider</a>
                {% endif %}
            </li>
        {% else %}
            <span>No requests found</span>
        {% endfor %}
    </ul>

    <p>filter by user</p>
    <p>filter by status</p>
    <p>order by date created</p>
</div>
{% endblock %}
