{% extends 'base.html.twig' %}

{% block title %}Hello PostController!{% endblock %}

{% block body %}

<header class='w-screen h-20 bg-blue-700 flex items-center justify-between px-2 sm:px-14 z-30 shadow-lg'>
    <div class='h1 text-2xl text-white font-bold'>
        <a href='{{ path('home') }}'>Locastic Blog API</a>
    </div>

    <div class="mb-1 text-lg flex items-center justify-between space-x-5">
        {% if app.user %}
            <a class='text-white' href="{{ path('get_requests') }}">Admin</a>
            <a class='text-white' href="{{ path('dashboard') }}">Dashboard</a>
            <a class='text-white' href="{{ path('posts') }}">Blog</a>
            <a class='text-white' href="{{ path('app_logout') }}">Logout</a>
        {% else %}
            <a class='text-white' href="{{ path('app_login') }}">Login</a>
            <a class='text-blue-700 py-2 px-3 bg-white rounded' href="{{ path('app_register') }}">Register</a>
        {% endif %}
    </div>
</header>

<h2 class='mt-24 h2 text-4xl font-bold text-center'>Hello {{ firstname }} {{ lastname }}! ✅</h1>

<div class='mt-5 pb-6 border-gray-300 mx-auto max-w-lg rounded-xl shadow-lg relative'>
    {% if is_granted('ROLE_BLOGGER') %}
        {% if controller_name == 'Create' %}
            <h2 class='h2 text-xl mb-3 font-bold text-center'>Creating post</h2>
        {% else %}
            <h2 class='h2 text-xl mb-3 font-bold text-center'>Editing post</h2>
        {% endif %}

        {{ form_start(form) }}
            <div>
                {{ form_row(form.title, {label_class: 'font-semibold'}) }}
            </div>

            <div class=''>
                {{ form_row(form.content, {label_class: 'font-semibold'}) }}
            </div>

            <div class=''>
                <button type="submit" class="text-white p-2 w-full rounded-sm block bg-blue-700 border">Save</button>
            </div>
        {{ form_end(form) }}
    {% else %}
        <div class="mb-3">
            <span><a href='{{ path('v_request') }}'>Request a Verification</a> to attain a Bloger role</span>
        </div>
    {% endif %}
</div>
{% endblock %}
