{% extends 'base.html.twig' %}

{% block title %}Hello PostController!{% endblock %}

{% block body %}
<style>
    .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
    .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
</style>

<div class="example-wrapper">
    {% if app.user %}
        <div class="mb-3">
            You are logged in as {{ app.user.username }}, <a href="{{ path('app_logout') }}">Logout</a>
        </div>
    {% else %}
        <div class="mb-3">
            <a href="{{ path('app_register') }}">Register</a> | <a href="{{ path('app_login') }}">Login</a>
        </div>
    {% endif %}

    <h1>Hello {{ firstname }} {{ lastname }}! ✅</h1>

    {% for message in app.flashes('notice') %}
        <div class="flash-notice">
            {{ message }}
        </div>
    {% endfor %}

    {% if is_granted('ROLE_BLOGGER') %}
        {% if controller_name == 'Create' %}
            <p>Creating post</p>
        {% else %}
            <p>Editing post</p>
        {% endif %}

        {{ form_start(form) }}
            {{ form_row(form.title) }}
            {{ form_row(form.content) }}
            {{ form_row(form.save) }}
        {{ form_end(form) }}
    {% else %}
        <div class="mb-3">
            <span><a href='{{ path('v_request') }}'>Request a Verification</a> to attain a Bloger role</span>
        </div>
    {% endif %}
</div>
{% endblock %}
