{% extends 'base.html.twig' %}

{% block title %}Hello DashboardController!{% endblock %}

{% block body %}
<style>
    .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
    .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
</style>

<div class="example-wrapper">
    {% if app.user %}
        <div class="mb-3">
            You are logged in as {{ app.user.username }}, <a href="{{ path('app_logout') }}">Logout</a>
        </div>
    {% else %}
        <div class="mb-3">
            <a href="{{ path('app_register') }}">Register</a> | <a href="{{ path('app_login') }}">Login</a>
        </div>
    {% endif %}

    <h1>Hello {{ firstname}} {{lastname }}! ✅</h1>

    {% if is_granted('ROLE_ADMIN') %}
        <div class="mb-3">
            <p><a href='{{ path('get_requests') }}'>see requests</a></p>
            {% if(v_request.status == 'Verification requested') %}
                <p><a href='{{ path('show_request', {'id': v_request.id}) }}'>your request</a></p>
            {% endif %}
        </div>
    {% else %}
        {% if(v_request.status == 'Verification requested') %}
            <div class="mb-3">
                <p><a href='{{ path('show_request', {'id': v_request.id}) }}'>your request</a></p>
            </div>
        {% endif %}
    {% endif %}

    <p>This friendly message is coming from Locastic Blog API Admin ✅:</p>

    <div>
        <p>Now that you're registered you can now see our blog posts</p>
        {% if is_granted('ROLE_BLOGGER') %}
        {% else %}
            <p><a href='{{ path('v_request') }}'>Request a Verification</a> to attain a Bloger role</p>
            <p>Our admin will then respond to your request</p>
            <p> you can then create read, update and delete your posts in the <a href='{{ path('posts') }}'>post page</a></p>
        {% endif %}
    </div>

    <h2>Our Blog</h2>

    {% if is_granted('ROLE_BLOGGER') %}
        <div class="mb-3">
            <small><a href='{{ path('create_post') }}'>Create Post</a></small>
        </div>
    {% else %}
        <div class="mb-3">
            <span><a href='{{ path('v_request') }}'>Request a Verification</a> to attain a Bloger role</span>
        </div>
    {% endif %}

    <div>
        {% for post in posts %}
            <p><a href='{{ path('show_post', {id: post.id}) }}'>{{post.title}}</a></p>
        {% else %}
            <p>no blog post found, <a href='{{ path('create_post') }}'>create post</a></p>
        {% endfor %}
    </div>
</div>
{% endblock %}
