{% extends 'base.html.twig' %}

{% block title %}Hello DashboardController!{% endblock %}

{% block body %}

<header class='w-screen h-20 bg-blue-700 flex items-center justify-between px-2 sm:px-14 z-30 shadow-lg'>
    <div class='h1 text-2xl text-white font-bold'>
        <a href='{{ path('home') }}'>Locastic Blog API</a>
    </div>

    <div class="mb-1 text-lg flex items-center justify-between space-x-5">
        {% if app.user %}
            <a class='text-white' href="{{ path('get_requests') }}">Admin</a>
            <a class='text-white' href="{{ path('dashboard') }}">Dashboard</a>
            <a class='text-white' href="{{ path('posts') }}">Blog</a>
            <a class='text-white' href="{{ path('app_logout') }}">Logout</a>
        {% else %}
            <a class='text-white' href="{{ path('app_login') }}">Login</a>
            <a class='text-blue-700 py-2 px-3 bg-white rounded' href="{{ path('app_register') }}">Register</a>
        {% endif %}
    </div>
</header>

<h2 class='mt-3 h2 text-4xl font-bold text-center'>Hello {{ firstname }} {{ lastname }}! ✅</h1>

<h3 class='text-lg mb-3 text-center'>This friendly message is coming from Locastic Blog API Admin: ✅</h3>

<div class='pb-6 border-gray-300 mx-auto max-w-2xl rounded-xl shadow-lg relative'>
    {% if is_granted('ROLE_ADMIN') %}
        <div class="mb-3 absolute top-2 right-2">
            <p><a class='text-white py-2 px-3 bg-blue-700 rounded mb-2' href='{{ path('get_requests') }}'>see requests</a></p>
            {% if(v_request.status == 'Verification requested') %}
                <p><a class='text-white py-2 px-3 bg-blue-700 rounded' href='{{ path('show_request', {'id': v_request.id}) }}'>your request</a></p>
            {% endif %}
        </div>
    {% else %}
        {% if(v_request.status == 'Verification requested') %}
            <div class="mb-3 absolute top-2 right-2">
                <p><a class='text-white py-2 px-3 bg-blue-700 rounded' href='{{ path('show_request', {'id': v_request.id}) }}'>your request</a></p>
            </div>
        {% endif %}
    {% endif %}

    <div class='text-lg'>
        {% if is_granted('ROLE_BLOGGER') %}
        {% else %}
            <p><a class='text-blue-700' href='{{ path('v_request') }}'>Request a Verification</a> to attain a Bloger role</p>
            <p>Our admin will then respond to your request</p>
            <p> you can then create read, update and delete your posts in the <a class='text-blue-700' href='{{ path('posts') }}'>post page</a></p>
        {% endif %}
    </div>
</div>

<div class='mt-24 pb-6 border-gray-300 mx-auto max-w-2xl rounded-xl shadow-lg relative'>
    <h2 class='text-center text-lg font-bold h2'>Our Blog</h2>

    <div class="mb-3 absolute right-2 top-2">
        {% if is_granted('ROLE_BLOGGER') %}
            <a class='text-white py-2 px-3 bg-blue-700 rounded' href='{{ path('create_post') }}'>Create Post</a>
        {% else %}
            <a class='text-white py-2 px-3 bg-blue-700 rounded' href='{{ path('v_request') }}'>Request a Verification</a>
        {% endif %}
    </div>

    <div>
        {% for post in posts %}
            <p class='space-y-2 text-xl'>{{post.title}} <a class='text-blue-700 ml-2' href='{{ path('show_post', {id: post.id}) }}'><small>Read</small></a></p>
            
        {% else %}
            <p>no blog post found, <a class='text-blue-700' href='{{ path('create_post') }}'>create post</a></p>
        {% endfor %}
    </div>
</div>
{% endblock %}
